# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor[data-grammar="source js"]': [
    {
      label: 'Atom Ternjs'
      submenu: [
        {label: 'Find definition', command: 'atom-ternjs:definition'},
        {label: 'Find references', command: 'atom-ternjs:references'},
        {label: 'Documentation', command: 'atom-ternjs:documentation'},
        {label: 'Rename', command: 'atom-ternjs:rename'},
        {label: 'Configure project', command: 'atom-ternjs:openConfig'},
        {label: 'Restart server', command: 'atom-ternjs:restart'},
        {label: 'List analyzed files (console)', command: 'atom-ternjs:listFiles'},
        {label: 'Fetch all files and reanalyze', command: 'atom-ternjs:flush'}
      ]
    }
  ]
'menu': [
  {
    label: 'Packages'
    submenu: [
      {
        label: 'Atom Ternjs'
        submenu: [
          {label: 'Configure project', command: 'atom-ternjs:openConfig'},
          {label: 'Restart server', command: 'atom-ternjs:restart'},
          {label: 'Find definition', command: 'atom-ternjs:definition'},
          {label: 'Find references', command: 'atom-ternjs:references'},
          {label: 'Documentation', command: 'atom-ternjs:documentation'},
          {label: 'Rename', command: 'atom-ternjs:rename'},
          {label: 'List analyzed files (console)', command: 'atom-ternjs:listFiles'},
          {label: 'Fetch all files and reanalyze', command: 'atom-ternjs:flush'}
        ]
      }
    ]
  }
]
